.post-page {
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
}
.post-page .container-post-page {
  width: 500px;
  padding: 0 10px 30px 10px;
  box-shadow: 0px 11px 29px -11px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  height: 70vh;
}
.post-page .container-img {
  display: flex;
  justify-content: center;
}
.post-page .container-img .img {
  height: auto;
  width: 500px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.post-page .container-infos .postpage-username {
  color: #787878;
  text-align: left;
  font-size: 15px;
  font-style: italic;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 5px;
}
.post-page .container-infos .postpage-title {
  font-weight: bold;
  font-size: 27px;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}
.post-page .container-infos .postpage-text {
  font-style: italic;
  font-size: 17px;
  text-align: left;
  padding-left: 15px;
  font-style: none;
  font-size: 15px;
}
.post-page .container-infos .delete-post {
  display: flex;
  justify-content: right;
}

.post-page .comment-session {
  width: 600px;
}
.post-page .comment-session .user-comment-container {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000000;
}
.post-page .container-comment {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 40px;
}
.post-page .container-comment .text-submit-comment {
  font-size: 20px;
  color: #787878;
  margin-bottom: 10px;
}
.post-page .container-comment input {
  background-color: #F5F7F8;
  border: none;
  outline: none;
  display: flex;
  align-items: baseline;
  padding: 0 0 115px;
}
.post-page .container-comment .container-btn-comment {
  display: flex;
  justify-content: right;
  margin-top: 15px;
}
.post-page .container-comment .container-btn-comment .btn-submit-comment {
  background-color: #000000;
  color: #ffffff;
  width: 130px;
  height: 35px;
  text-align: center;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.post-page .container-comment .container-btn-comment .btn-submit-comment:hover {
  background-color: red;
}
.post-page .user-comment-container .username-comment {
  font-weight: bold;
}

@media (max-width: 928px) {
  .post-page {
    flex-direction: column;
  }
  .post-page .container-comment {
    width: 80%;
  }
  .container-comment-session {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .post-page .comment-session .user-comment-container {
    margin-bottom: 40px;
  }
  .post-page .user-comment-container .username-comment {
    text-align: center;
  }
  .trasher {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
  }
  .post-page .comment-session {
    margin-top: 120px;
    width: 80%;
  }
  .post-page .container-img .img {
    width: 100%;
  }
  .post-page .container-post-page {
    width: 90%;
    margin: auto;
    padding: 0;
    height: unset;
  }
  .post-page .container-infos .postpage-text {
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=PostPage.css.map */