@import '../Variables//Variables.scss';

.register {
    background-color: #F0ECE5;
    height: 100vh;
    padding-top: 50px;

    h1{
      
        margin-bottom: 20px;
    }
    .register-form {
      
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 30px;
        flex-direction: column;
        width: 400px;
        padding-bottom: 5vh;
        border-radius: 10px;
        background-color: #ffffff;
        margin: auto;


        input {
            width: 350px;
            border-radius: 5px;
            height: 35px;
            border: 1px solid 	#808080;
            outline: none;
            margin-bottom: 20px;

            padding-left: 8px;
        }

        ::placeholder {
            font-size: 16px;
          }

          button{
            width: 350px;
            height: 4vh;
            background-color: #3468C0;
            font-size: 16px;
            color: #ffffff;
            border-radius: 5px;
            border: none;
            cursor: pointer;
          }
          
    }

}